<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

<body>
<h:form>
    <h:panelGrid id="panel" columns="1" border="0"
                 cellpadding="5" cellspacing="2">
        <h:outputText value="ENTER PROJECT NAME: "/>
        <h:inputText value="#{projectBean.name}"/>
        <h:outputText value="ENTER PROJECT DESCRIPTION: "/>
        <h:inputText value="#{projectBean.description}"/>
        <h:outputText value="ENTER PROJECT DATE BEGIN: "/>
        <h:inputText value="#{projectBean.dateStart}"/>
        <h:outputText value="ENTER PROJECT DATE END: "/>
        <h:inputText value="#{projectBean.dateEnd}"/>
        <h:commandButton value="Create"
                         action="#{projectBean.save(projectBean.name, projectBean.description, projectBean.dateStart, projectBean.dateEnd)}"/>
    </h:panelGrid>
</h:form>
</body>
</html>
