<html xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:jsp="http://java.sun.com/jsf/html">
<h:head>
    <title>Project List</title>
<!--<br/>-->
</h:head>
<h:body>
    <h1>List projects</h1>
    <p:dataTable var="project" value="#{projectBean.findAllProject()}">
        <p:column headerText="Project ID:">
            <h:outputText value="#{project.projectId}"/>
        </p:column>
        <p:column headerText="Project name:">
            <h:outputText value="#{project.name}"/>
        </p:column>
        <p:column headerText="Project description:">
            <h:outputText value="#{project.description}"/>
        </p:column>
        <p:column headerText="Project status:">
            <h:outputText value="#{project.status}"/>
        </p:column>
        <p:column headerText="Project start date:">
            <h:outputText value="#{project.dateStart}"/>
        </p:column>
        <p:column headerText="Project end date:">
            <h:outputText value="#{project.dateEnd}"/>
        </p:column>
        <p:column headerText="Project date system:">
            <h:outputText value="#{project.dateSystem}"/>
        </p:column>

        <p:column headerText="List tasks:">
            <p:button outcome="taskList" value="Tasks" style="margin-right:20px;">
                <f:param name="projectId" value="#{project.projectId}"/>
                <f:param name="projectName" value="#{project.name}"/>
            </p:button>
        </p:column>

        <p:column headerText="Action">
            <h:form>
            <p:growl id="growl" life="2000" />
            <p:commandButton value="DELETE" id="ajax" update="growl" action="#{projectBean.remove(project)}" style="margin-right:20px;" styleClass="ui-priority-primary"/>

            <p:button outcome="updateProject" value="UPDATE" style="margin-right:20px;">
            <f:param name="projectId" value="#{project.projectId}"/>
            </p:button>
            </h:form>
        </p:column>
    </p:dataTable>
    <p:button outcome="projectCreate" value="Create project" style="margin-right:20px;"/>
</h:body>
</html>
