<html xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:jsp="http://java.sun.com/jsf/html" xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
    <title>Task List</title>
    <p:breadCrumb>
        <p:menuitem value="Categories" url="/view/index.xhtml" />
        <p:menuitem value="Projects list" url="/view/projectList.xhtml" />
    </p:breadCrumb>
<!--    <br/>-->
</h:head>
<h:body>
    <h1>List tasks for this project with name #{param.projectName}</h1>
    <p:dataTable var="task" value="#{taskBean.findAllByProjectId(param.projectId)}">
        <p:column headerText="Task ID:">
            <h:outputText value="#{task.taskId}"/>
        </p:column>
        <p:column headerText="Task name:">
            <h:outputText value="#{task.name}"/>
        </p:column>
        <p:column headerText="Task description:">
            <h:outputText value="#{task.description}"/>
        </p:column>
        <p:column headerText="Task status:">
            <h:outputText value="#{task.status}"/>
        </p:column>
        <p:column headerText="Task start date:">
            <h:outputText value="#{task.dateStart}"/>
        </p:column>
        <p:column headerText="Task end date:">
            <h:outputText value="#{task.dateEnd}"/>
        </p:column>
        <p:column headerText="Task date system:">
            <h:outputText value="#{task.dateSystem}"/>
        </p:column>
        <p:column headerText="Action:">
            <h:form>
            <p:growl id="growl" life="2000" />
                <p:commandButton  value="Delete task" style="margin-right:20px;" action="#{taskBean.remove(task)}"/>
                <p:button outcome="taskCreate" value="UPDATE" style="margin-right:20px;">
                    <f:param name="taskId" value="#{task.taskId}"/>
                </p:button>
            </h:form>
        </p:column>
    </p:dataTable>
<br/>
    <p:button outcome="taskCreate" value="Create task"  style="margin-right:20px;">
        <f:param name="projectId" value="#{param.projectId}"/>
    </p:button>
</h:body>
</html>
