<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core">
<f:view>
    <c:if test="${param.taskId!=null}">
        <h:form>
            <h:panelGrid columns="1" border="0"
                         cellpadding="5" cellspacing="2">
                <h:outputText value="ENTER TASK NAME: "/>
                <h:inputText value="#{taskBean.name}"/>
                <h:outputText value="ENTER TASK DESCRIPTION: "/>
                <h:inputText value="#{taskBean.description}"/>
                <h:outputText value="ENTER TASK DATE BEGIN: "/>
                <h:inputText value="#{taskBean.dateStart}"/>
                <h:outputText value="ENTER TASK DATE END: "/>
                <h:inputText value="#{taskBean.dateEnd}"/>
                <h:commandButton value="Update"
                                 action="#{taskBean.update(param.taskId,taskBean.name, taskBean.description, taskBean.dateStart, taskBean.dateEnd)}">
                </h:commandButton>
            </h:panelGrid>
        </h:form>
    </c:if>
    <c:if test="${param.taskId==null}">
    <h:form>
        <h:panelGrid id="panel" columns="1" border="0"
                     cellpadding="5" cellspacing="2">
            <h:outputText value="ENTER TASK NAME: "/>
            <h:inputText value="#{taskBean.name}"/>
            <h:outputText value="ENTER TASK DESCRIPTION: "/>
            <h:inputText value="#{taskBean.description}"/>
            <h:outputText value="ENTER TASK DATE BEGIN: "/>
            <h:inputText value="#{taskBean.dateStart}"/>
            <h:outputText value="ENTER TASK DATE END: "/>
            <h:inputText value="#{taskBean.dateEnd}"/>
            <h:commandButton value="Create"
                             action="#{taskBean.save(param.projectId,taskBean.name, taskBean.description, taskBean.dateStart, taskBean.dateEnd)}">
            </h:commandButton>
        </h:panelGrid>
    </h:form>
</c:if>
</f:view>
</html>
