<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
    <title>Update project</title>
    <style type="text/css">
        .column {
            font-weight: bold;
        }
    </style>
</h:head>

<h:body>
    <h:form>
        <ui:param name="project" var="project" value="#{projectBean.findOneById(param.projectId)}"/>
        <h:panelGrid columns="2" columnClasses="column" cellpadding="2" style="margin-bottom: 10px">
            <h:outputText for="name" value="Name: "/>
            <p:inputText id="name" value="#{projectBean.name}" required="true" label="Name">
            <p:watermark for="name" value="#{project.name}"/>
            </p:inputText>

            <h:outputText for="description" value="Description:" />
            <p:inputText id="description" value="#{projectBean.description}">
            <p:watermark for="description" value="#{project.description}"/>
            </p:inputText>
            <h:outputText for="dateStart" value="Date Start:" />
            <p:inputText id="dateStart" value="#{projectBean.dateStart}">
            </p:inputText>
            <h:outputText for="dateEnd" value="Date End:" />
            <p:inputText id="dateEnd" value="#{projectBean.dateEnd}">
            </p:inputText>
        </h:panelGrid>
        <p:commandButton value="Update"
                         action="#{projectBean.update(project.projectId, projectBean.name, projectBean.description, projectBean.dateStart, projectBean.dateEnd)}">
        </p:commandButton>

    </h:form>

</h:body>
</html>